<% @tasks.each do |t| %>
<h2><% if t.completed %>
<i class="fa-solid fa-square-check"></i>
<% else %>
<i class="fa-regular fa-square-check"></i>
<% end %>
 <%= link_to t.title, task_path(t) %>
 <%= link_to "<i class='fa-solid fa-trash'></i>".html_safe, task_path(t), data: {turbo_method: :delete}%>
 </h2>
<% end %>
<br />
<%= link_to "Create a new task", tasks_new_path %>
